{% extends 'base.html' %}

{% block title %}{{ block.super }} - Домашняя страница{% endblock %}

{% block content %}
    <h1>Домашняя страница библиотеки</h1>

    <p>Добро пожаловать в <em>LocalLibrary</em>, очень простой веб-сайт Django, разработанный в качестве учебного
        примера в сети разработчиков Mozilla.</p>

    <h2>Динамический контент</h2>

    <p>В библиотеке имеется следующее количество записей:</p>
    <ul>
        <li><strong>Книги:</strong> {{ num_books }}</li>
        <li><strong>Копии:</strong> {{ num_instances }}</li>
        <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
        <li><strong>Авторы:</strong> {{ num_authors }}</li>
    </ul>

    <p>Счетчик посещения страницы: {{ num_visits }}</p>

{% endblock %}