{% extends "base.html" %}

{% block title %}{{ block.super }} - Удалить автора  {{ author }}{% endblock %}

{% block content %}

<h1>Удалить автора</h1>

<p>Вы уверены, что хотите удалить автора: {{ author }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Да, удалить." />
</form>

{% endblock %}