{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ author.last_name }}, {{ author.first_name }} {% endblock %}

{% block content %}
  <h1>Автор:  {{ author.last_name }}, {{ author.first_name }}</h1>
  <p class="text-muted">{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Список книг</h4>

    {% for book in author.book_set.all %}
    <hr>
    <strong><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></strong>
    <p>{{book.summary}}</p>
    {% endfor %}
  </div>

{% endblock %}