{% extends "base.html" %}

{% block title %}{{ block.super }} - Список авторов {% endblock %}


{% block content %}
<h1>Список авторов</h1>

{% if author_list %}
<ul>

    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
        {% if perms.catalog.can_mark_returned %}
         - <a href="{% url 'author_update' author.pk %}">Изменить</a>
         - <a href="{% url 'author_delete' author.pk %}">Удалить</a>
        {% endif %}
    </li>
    {% endfor %}

</ul>
{% else %}
<p>К сожалению нет авторов в базе данных :(</p>
{% endif %}
{% endblock %}