{% extends "base.html" %}

{% block title %}{{ block.super }} - Обновление {{bookinst.book.title}}{% endblock %}

{% block content %}

    <h1>Обновление: {{bookinst.book.title}}</h1>
    <p>Читатель: {{bookinst.borrower}}</p>
    <p{% if bookinst.is_overdue %} class="text-danger"{% endif %}>Дата возврата: {{bookinst.due_back}}</p>

    <form method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Подтвердить" />
    </form>

{% endblock %}