{% extends "base.html" %}

{% block title %}{{ block.super }} - Список книг {% endblock %}


{% block content %}
    <h1>Список книг</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
          {% if perms.catalog.can_mark_returned %}
          - <a href="{% url 'book_update' book.pk %}">Изменить</a>
          - <a href="{% url 'book_delete' book.pk %}">Удалить</a>
          {% endif%}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>К сожалению нет книг в библиотеке :(</p>
    {% endif %}
{% endblock %}