{% extends "base.html" %}

{% block title %}{{ block.super }} - Удалить книгу  {{ book }}{% endblock %}

{% block content %}

<h1>Удалить книгу</h1>

<p>Вы уверены, что хотите удалить автора: {{ book }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Да, удалить." />
</form>

{% endblock %}