{% extends "base.html" %}

{% block title %}{{ block.super }} - Добавить/обновить книгу {% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Подтвердить" />

</form>
{% endblock %}