{% extends "base.html" %}

{% block title %}{{ block.super }} - Список заимствованных книг {% endblock %}


{% block content %}
    <h1>Список заимствованных книг</h1>

    {% if bookinstance_list %}
    <ul>

      {% for book in bookinstance_list %}
      <li class="{% if book.is_overdue %}text-danger{% endif %}">
      <a href="{{ book.book.get_absolute_url }}">{{ book.book.title }}</a> ({{book.due_back}}) - {{ book.borrower }}
          {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' book.id %}">Обновить</a>  {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>К сожалению нет книг в библиотеке :(</p>
    {% endif %}
{% endblock %}